[submodule "vendor/ocaml-reddit-api"]
	path = vendor/ocaml-reddit-api
	url = git@github.com:leviroth/ocaml-reddit-api.git
[submodule "vendor/prometheus"]
	path = vendor/prometheus
	url = git@github.com:leviroth/prometheus.git
